<?xml version="1.0"?>
<plugin>
    <!-- TYPE CONVERTERS -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="kryo-serialise" member-type="java.io.Serializable" datastore-type="java.lang.String"
            converter-class="org.datanucleus.store.types.kryo.converters.KryoSerialiseStringConverter"/>
    </extension>
</plugin>
